<div class='represent-header'>
	<div class='represent-info center'>
		<h1>You Represent</h1>
		<div class='icon-badge-box'>
			<img class='represent-icon {{teamObj.abbr}}-bg' alt='Team icon' src='assets/icons_{{teamObj.abbrCap}}white 1.svg'/>
		</div>
		<h2>{{teamObj.title}}</h2>
		<p>You are a representative of the {{teamObj.title}} group</p>
	</div>

</div>


<div class='round round3 round5' id='publicvoicesNO'>
    <div>Votes remaining: <span id='votes' class='highlight'>{{teamObj.votes}}</span></div>
    <table>
        <tbody>
            <tr><td><b>id</b></td><td><b>title</b></td><td></td></tr>
            {{#each mainTeams}}<tr><td>{{id}}</td><td>{{title}}</td><td><input class='voteVal' id='voteVal_{{id}}' style='width: 40px;' oninput='validateVote(this)' type='number' value='0'><button class='buttonVote' id='buttonVote_{{id}}'>Submit</button></td></tr>{{/each}}
        </tbody>
    </table>
</div>
<script>
    setupPV();
</script>
