<div class='represent-header'>
	<div class='represent-info center'>
		<h1>You Represent</h1>
		<div class='icon-badge-box'>
			{{#if isLead}}
			<img alt='Leader badge' class='icon-badge' src='assets/Leader.svg'/>
            {{/if}}
            <img class='represent-icon {{teamObj.abbr}}-bg' alt='Team icon' src='assets/icons_{{teamObj.abbrCap}}white 1.svg'/>
		</div>
		<h2>{{teamObj.lead}}</h2>
		<p>({{stakeholder}})</p>
		{{#if isLead}}
		<p>You have been assigned the role of team leader for this round. This means that only you will be able to submit your team’s move decisions.</p>
		{{else}}
        <p>You are team member for this round. Only your team leader will be able to submit your team’s move decisions.</p>
        {{/if}}
	</div>

</div>
	<!-- Main Content -->
<div class='main-content' style='display: block;'>
	<div class='grid-container'>
		<div class='grid-item-span-all link_main' id='link_resources'>
			<h3>Resources</h3>
		</div>
		<div class='grid-item-2 link_main' id='link_global'>
            <img alt='Global Times Headlines logo' src='assets/GlobalNewsConnectOnLogos-01.svg'/>
		</div>
		<div class='grid-item-3 link_main' id='link_connecton'>
		    <img alt='Connect On logo' src='assets/GlobalNewsConnectOnLogos-02.svg'/>
		</div>
		<div class='grid-item-span-all link_main' id='link_yourmove'>
			<h3>Your move</h3>
		</div>
	</div>
</div>
{{#if isLead}}
<!-- allocation section -->
<div class='round' id='allocation'>

    <!-- OLD VERSION -->
<!--    <div id='oldstuff'>-->
    <!--
    <div id='oldstuff' style='display: none;'>
    <select id='actionSelect'>
    <option value=''>Select an option...</option>
    {{#each actions}}
        <option value='{{this}}'>{{this}}</option>
    {{/each}}
    </select>
    <br>
    <div id='input-container'>
        <textarea id='actionDesc' placeholder='Add description here...'></textarea>
    </div>
    <br>
    Assign a value: <input class='allocateVal' id='allocateVal' style='width: 40px;' oninput='validateAllocation(this)' type='number'>
    <button class='buttonAllocate' id='buttonAllocate'>Submit</button>
    </div>
    -->

    <!-- NEW VERSION -->
    <label for='action-choice'>Action choice</label>
    <select id='action-choice' name='action-choice'>
    <option value=''>Select an option...</option>
    {{#each actions}}
    <option value='{{this}}'>{{this}}</option>
    {{/each}}
    </select>

    <label for='move-description'>Move description</label>
    <textarea id='actionDesc' placeholder='Add description here...'></textarea>
    <label for='move-description'>Resources</label>
    <div class='resources-container'>
        <div class='resources-score'>
            <p><span class='tempV'>0</span>/<span>10</span></p>
        </div>
        <div class='resources-buttons'>
            <button class='resources-btn' id='vote_btn_minus'><i class='fa fa-minus'></i></button>
            <button class='resources-btn' id='vote_btn_plus'><i class='fa fa-plus'></i></button>
        </div>
    </div>
    <input type='submit' value='SUBMIT' class='buttonAllocate' id='buttonAllocate'>
<!--    <button type='submit' value='SUBMIT' class='buttonAllocate' id='buttonAllocate'>SUBMIT</button>-->

</div>
{{/if}}

<script>
    setupStakeholder();
</script>
