<table><tbody>
    {{#each slideList}}
    <tr class='{{#if isCurrent}}highlight{{/if}}'>
    <td><div class='slideIcon {{type}}'></div></td><td><div class='slideLink' id='slideLink_{{index}}'>{{{title}}}</div></td><td><div class='rInd rInd_{{hasAction}} indr{{actionID}}' id='indr{{actionID}}'></div></td>
    </tr>
    {{/each}}
    <tr><td></td><td>* = action updates user devices</td><td></td></tr>
</tbody></table>
