

<table id='playerList'>
    <tbody>
        <tr><th>id</th><th>connected</th><th class='allenrolled'>enrolled</th><th>stakeholder</th><th>isLead</th><th>rounds</th><th></th></tr>
        {{#each players}}
        <tr>
        <td>{{id}}</td>
        <td class='{{connected}}'>{{connected}}</td>
        <td class='{{enrolled}}'>{{enrolled}}</td>
        <td class='{{assigned}}'>{{stakeholder}}</td>
        <td class='{{isLead}}'>{{isLead}}</td>
        <td class=''>{{{teamObj.rounds}}}</td>
        <td><button class='pingBtn' id='pingbtn-{{id}}'>ping</button>
        <button class='refreshBtn' id='refreshbtn-{{id}}'>refresh</button>
        <button class='removeBtn' id='removebtn-{{id}}'>remove</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
