<div class='stakeholder_card' id='stakeholder_card_{{id}}'>
    <div class='textarea'>
        <div class='vertical-center'>
            <div class='header'>
                {{title}}
            </div>
        </div>
        <div class='scorebox' id='st{{id}}_v1'><span class='scoreboxsrc'></span><span class='scoreboxval'></span></div>
        <div class='scorebox' id='st{{id}}_v2'><span class='scoreboxsrc'></span><span class='scoreboxval'></span></div>
        <div class='scorebox' id='st{{id}}_v3'><span class='scoreboxsrc'></span><span class='scoreboxval'></span></div>
        <div class='scorebox' id='st{{id}}_v4'><span class='scoreboxsrc'></span><span class='scoreboxval'></span></div>
        <div class='scorebox' id='st{{id}}_v5'><span class='scoreboxsrc'></span><span class='scoreboxval'></span></div>
        <div class='scorebox' id='pv{{id}}_v1'><span class='scoreboxsrc'></span><span class='scoreboxval'></span></div>
        <div class='scorebox' id='pv{{id}}_v2'><span class='scoreboxsrc'></span><span class='scoreboxval'></span></div>
        <div class='scorebox' id='st{{id}}_vtotal'><span class='scoreboxsrc'></span><span class='scoreboxval'></span></div>
        <div class='scorebox' id='pv{{id}}_vtotal'><span class='scoreboxsrc'></span><span class='scoreboxval'></span></div>
        <div class='scorebox total' id='score{{id}}'><span class='scoreboxsrc'></span><span class='scoreboxval'></span></div>
    </div>
</div>
